.main__section_size_lg {
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .main__section_size_lg {
    padding: 0 48px;
  }
}

@media screen and (max-width: 769px) {
  .main__section_size_lg {
    padding: 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .main__section_size_lg {
    padding: 0;
  }
}