.main__section_size_lg {
  padding: 92px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .main__section_size_lg {
    padding: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 769px) {
  .main__section_size_lg {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .main__section_size_lg {
    padding: 64px 0 0 0;
  }
}