.trip__subtitle {
  margin: 32px auto 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 360px;
  text-align: center;
  z-index: 4;
}

@media  screen and (max-width: 500px) {
  .trip__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}