.header__link {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 1px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s linear;
}

@media screen and (max-width: 380px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}