.trip__wrapper {
  text-decoration: none;
  color: inherit;
  background-image: url('../../../images/trip-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .trip__wrapper {
    min-height: 640px;
  }
}

@media screen and (max-width: 780px) {
  .trip__wrapper {
    min-height: 480px;
  }
}

@media screen and (max-width: 480px) {
  .trip__wrapper {
    min-height: 320px;
  }
}

@media screen and (max-width: 380px) {
  .trip__wrapper {
    min-height: 200px;
  }
}

